.wrapper {
	width: 100%;
	height: auto;
}
.content {
	width: 80%;
}
.col-1__row {
	background-position: 5% 50%;
}
.col-2__row {
	background-position: 25% 50%;
}

.item__add-cart {
	margin-right: 10px;
}
.f-contacts, .f-menu {
	padding: 0 11%;
}
.f-contacts__social, {
	width: 100%;
}
