body {
  width: 100%;
  margin: 0;
  color: #000;
  font: 12px Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column; }

* {
  box-sizing: border-box; }

img, figure {
  margin: 0; }

input, textarea, select form, fieldset {
  color: #000;
  margin: 0;
  padding: 0;
  border-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a, a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.content {
  width: 960px; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 605px;
  background: url(../img/hero_bg.jpg) no-repeat 0 80%;
  background-size: cover;
  position: relative; }
  .hero__overlay {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 1;
    opacity: .5; }
  .hero__row {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2; }
  .hero__sub-title, .hero__slogan {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 40px; }
  .hero__sub-title {
    display: block; }
  .hero h1 {
    font-family: "Lato";
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 38px;
    margin: 0 0 40px; }
  .hero__sub-title:before, .hero__sub-title:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 2px;
    background: #fff;
    border-radius: 50%; }
  .hero__sub-title:before {
    margin-right: 20px; }
  .hero__sub-title:after {
    margin-left: 20px; }
  .hero__slogan {
    display: flex;
    justify-content: center; }
    .hero__slogan span {
      display: inline-block;
      width: 100px;
      height: 1px;
      background: #fff;
      margin: 8px 20px 0 0; }
      .hero__slogan span:after {
        content: '';
        display: inline-block;
        width: 100px;
        height: 1px;
        background: #fff;
        margin: 0 0 12px 0; }
      .hero__slogan span:last-child {
        margin: 8px 0 0 20px; }

.menu {
  display: flex;
  justify-content: center;
  height: 110px; }
  .menu__row {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative; }
  .menu__logo {
    position: absolute;
    left: calc(50% - 50px); }

.main-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative; }
  .main-menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-menu ul li {
      margin: 0 40px; }
    .main-menu ul li a {
      font-family: 'Open Sans';
      font-size: 14px;
      text-transform: uppercase;
      color: #7f8c8d; }
      .main-menu ul li a:hover {
        color: #000;
        transition: all .3s; }
    .main-menu ul li:nth-child(2) {
      margin: 0 60px 0 40px; }
    .main-menu ul li:nth-child(3) {
      margin: 0 90px 0 40px; }
    .main-menu ul li:nth-child(4) {
      margin: 0 40px 0 90px; }
    .main-menu ul li:first-child {
      margin: 0 55px 0 0; }
    .main-menu ul li:last-child {
      margin: 0 0 0 40px; }

.touch-menu {
  display: none;
  width: 25px;
  height: 16px;
  cursor: pointer;
  position: relative; }
  .touch-menu:before, .touch-menu:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0; }
  .touch-menu:before {
    top: 0; }
  .touch-menu:after {
    bottom: 0; }
  .touch-menu span {
    display: block;
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 7px; }

.options {
  display: flex;
  justify-content: center;
  background: url(../img/options_bg.jpg);
  padding: 60px 0 40px;
  position: relative;
  z-index: 1; }
  .options__row {
    text-align: center; }
  .options__items {
    display: flex;
    width: 70%;
    margin: 100px auto 0; }
  .options__item {
    flex: 0 0 20%; }
    .options__item img {
      margin: 0 0 30px; }
    .options__item:nth-child(3) img {
      margin: -10px 0 24px; }

.title {
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  font-size: 44px;
  font-weight: 300;
  color: #000;
  margin: 0 0 40px;
  padding: 0 0 40px 0;
  position: relative; }
  .title:after {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    background: #979898;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -75px; }

.text {
  width: 80%;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  color: #606060; }

.clients {
  padding: 70px 0 40px; }
  .clients__content {
    margin: 0 auto;
    max-width: 960px; }
  .clients__row {
    text-align: center; }
  .clients__carousel {
    display: flex;
    margin: 50px 0 0;
    max-width: 960px; }

.slider {
  width: 90%; }
  .slider__item {
    display: flex;
    justify-content: center; }
    .slider__item img {
      max-width: 100%; }

.slick-slider {
  min-width: 0; }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: flex;
  align-items: flex-start; }

.arrow-l {
  width: 5%;
  position: relative; }
  .arrow-l:hover {
    cursor: pointer; }
  .arrow-l:hover span {
    background: #3688bd; }
  .arrow-l span {
    display: block;
    width: 15px;
    height: 3px;
    background: #000; }
  .arrow-l .arrow-side-1 {
    transform: rotate(-45deg);
    position: absolute;
    top: 38px; }
  .arrow-l .arrow-side-2 {
    transform: rotate(45deg);
    position: absolute;
    top: 47px;
    left: 0; }

.rotate {
  transform: rotateY(180deg); }

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: #000; }
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.social {
  display: flex; }
  .social li {
    margin: 0 20% 0 0; }

.rights {
  font-family: "Open Sans";
  color: #606060;
  text-align: right; }

@media screen and (max-width: 996px) {
  .main-menu ul li {
    margin: 0 20px 0 0; }
  .main-menu ul li:nth-child(2) {
    margin: 0 30px 0 20px; }
  .main-menu ul li:nth-child(3) {
    margin: 0 95px 0 20px; }
  .main-menu ul li:nth-child(4) {
    margin: 0 30px 0 85px; }
  .main-menu ul li:first-child {
    margin: 0 30px 0 0; }
  .main-menu ul li:last-child {
    margin: 0 0 0 20px; }
  .option__row, .clients__row, .footer__row {
    padding-left: 20px;
    padding-right: 20px; }
  .clients__items {
    display: flex;
    justify-content: space-between;
    width: 90%; }
    .clients__items li {
      flex: 0 1 25%;
      opacity: .7; } }

@media screen and (max-width: 768px) {
  .menu {
    height: 100px; }
    .menu__logo {
      top: 10%; }
    .menu__row {
      flex-direction: column;
      align-items: center; }
  .main-menu {
    display: none;
    opacity: 0;
    justify-content: center; }
    .main-menu ul {
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 0 50px;
      background: rgba(41, 128, 185, 0.95); }
    .main-menu ul li {
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid white;
      padding: 15px 30px; }
    .main-menu ul li:nth-child(2),
    .main-menu ul li:nth-child(3),
    .main-menu ul li:nth-child(4),
    .main-menu ul li:first-child,
    .main-menu ul li:last-child {
      margin: 0; }
    .main-menu ul li:hover {
      background: rgba(255, 255, 255, 0.5); }
    .main-menu ul li:hover a {
      color: #000; }
    .main-menu ul li a {
      text-align: left;
      color: #fff;
      font-size: 16px; }
    .main-menu.active {
      display: block;
      opacity: 1;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 3; }
  .touch-menu {
    display: block;
    margin: 70px 0 0; }
  .options__items {
    width: 100%;
    padding: 0 20px; }
  .clients__items li {
    flex: 0 1 33.33333%; } }

@media screen and (max-width: 520px) {
  .options__items {
    justify-content: center;
    flex-wrap: wrap; }
  .options__item {
    flex: 0 1 50%;
    max-width: 50%;
    margin-bottom: 30px; }
  .footer__row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
  .social {
    margin-bottom: 20px; }
  .rights {
    text-align: left; } }
