body {
	width: 100%;
	margin: 0;
	color: #000;
	font: 12px Arial, Helvetica, sans-serif;
}
* {
	box-sizing: border-box;
}
input, textarea, select form,fieldset {
	vertical-align:middle;
	color:#000;
	margin:0;
	padding:0;
	border-style:none;
}
ul {
	margin:0;
	padding:0;
	list-style: none;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a, a:hover {
	text-decoration: none;
}
.wrapper {
	height: 100vh;
}
.content {
	height: 100%;
	position: relative;
}
.content__row {
	display: flex;
	height: 50%;
}
.block {
	flex: 0 1 50%;
	height: 100%;
}
.lt {
	background: #64d75e;
	margin-left: -100%;
}
.rt {
	background: #f1ae65;
	margin-left: 200%;
}
.lb {
	background: #ff86c5;
	margin-left: -100%;
}
.rb {
	background: #83d2ff;
	margin-left: 200%;
}
.lt.active, .rt.active {
	margin: 0;
	transition: ease 1s;
}
.rb.active, .lb.active {
	margin: 0;
	transition: ease 1.5s;
}
.game-block {
	width: 65%;
	min-height: 200px;
	background: #fff;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 10px 10px rgba(130, 130, 130, .5);
	opacity: 0;
}
.game-block.active {
	opacity: 1;
	transition: ease 1.5s;
	transition-delay: 1.2s;
}
.games {
	display: flex;
	justify-content: center;
}
.wonder-field {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background: #2e9a4c;
	cursor: pointer;
}
.name {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}