.hero {
    background: url(assets/img/hero-bg.webp) no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: 0; }
    .hero__content {
      max-width: 1530px;
      width: 100%;
      margin: 0 auto;
      padding: 0 0 1px 0;
      position: relative; }
    .hero__row {
      display: flex; }
    .hero__left {
      padding: 258px 0 187px 100px;
      min-height: 1px; }
      .hero__left .btn {
        margin: 0 30px 0 0; }
        @media screen and (max-width: 1280px) {
          .hero__left .btn {
            margin: 0 8px 0 0; } }
    .hero p {
      margin: 0 0 65px 0;
      color: #a4b1c3;
      line-height: 28px;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 18px; }
  
  .main-title {
    font-family: 'ZonaPro';
    font-weight: 700;
    font-size: 56px;
    color: #fff;
    margin: 0 0 50px 0; }
  
  .btn {
    font-family: 'ZonaPro';
    font-weight: 700;
    line-height: 46px;
    padding: .375rem 29px;
    margin: 0;
    border-radius: .35rem; }
  
  .btn-green {
    background: #21a979;
    color: #fff;
    transition: .3s linear; }
    .btn-green:hover {
      background: #10bf9d;
      transition: .3s linear; }
  
  .btn-transparent {
    background: none;
    border: 2px solid #fff;
    color: #fff; }
    .btn-transparent:hover {
      background: #fff;
      color: #004175;
      transition: .3s linear; }
  
  .row_pos {
    position:static;
    margin-bottom: -320px;
     }
    .row_pos .issues-wrap {
      position: relative;
      z-index: 2; }
      .row_pos .issues-wrap:after {
        content: '';
        position: relative;
        display: block;
        background: url(assets/img/issue-shadow.png) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 150px;
        top: -110px;
        z-index: -1; }
  
  .issues {
    display: flex;
  }
  
  .issue-item-wrap {
    flex: 100%;
    min-height: 255px; }
  
  .issue-item {
    padding: 40px 34px;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: .35rem;
    font-family: 'ZonaPro';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; }
    .issue-item__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 30px 0;
      min-height: 73px;
      position: relative;
      z-index: 2; }
    .issue-item__text {
      display: block;
      text-align: center;
      position: relative;
      z-index: 2; }
  
  .content {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }
  
  /****SOLUTIONS BLOCK****/
  .solutions {
    padding: 260px 0 100px;
    background: #f6f6f6; }
    .solutions .btn-green {
      margin: 0; }
  
  .title {
    font-family: 'ZonaPro';
    font-size: 52px !important;
    font-weight: 700;
    color: #292b2c;
    text-align: center;
    margin: 0 0 35px; }
  
  .block-text {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #3a3c3d;
    text-align: center;
    letter-spacing: .5px;
    margin: 0 auto 75px; }
  
  .solutions__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 105px; }
  
  .solutions-item-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 0 45px; }
  
  .solutions-item {
    background: #fff;
    text-align: center;
    border-radius: 6px;
    flex: 1 1 auto; }
  
  .img-wrap {
    position: relative;
    padding: 0 0 56%;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .img-wrap img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      height: auto; }
  
  .solution-text {
    padding: 45px 60px 50px;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 24px;
    color: #3a3c3d; }
  
  .sub-title {
    font-family: 'ZonaPro';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .5px;
    color: #292b2c;
    margin: 0 0 25px; }
    .sub-title_big {
      font-family: 'ZonaPro';
      margin: 0 0 50px;
      font-weight: 700;
      font-size: 28px;
      text-align: center;
      position: relative; }
    .sub-title_big:before {
      content: '';
      position: absolute;
      background: url(assets/img/question-icon.png) no-repeat;
      width: 53px;
      height: 49px;
      top: -75px;
      left: 50%;
      margin-left: -26px; }
  
  .button {
    display: flex;
    justify-content: center; }